apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-deploy
  labels:
    app: demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo
  template:
    metadata:
      labels:
        app: demo
    spec:
      containers:
      - name: demo-container
        image: deepaksingh20i1/demo-app:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 80
        env:
        - name: BUILD_VERSION
          value: "init"
