
apiVersion: v1
kind: Service
metadata:
  name: static-site-svc
spec:
  type: NodePort
  selector:
    app: static-site
  ports:
    - name: http
      port: 80
      targetPort: 80
      nodePort: 30080  # ensure SG allows 30080
